<log4net>
<appender name="InfoFile" type="log4net.Appender.FileAppender">
  <threshold value="Info" />
    <file value="Logging/Logs/Information.log" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d{hh:mm:ss} %message%newline" />
    </layout>
</appender>
<appender name="ErrorFile" type="log4net.Appender.FileAppender">
  <threshold value="Error" />
    <file value="Logging/Logs/Error.log" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d{hh:mm:ss} %message%newline" />
    </layout>
</appender>  
<appender name="FatalFile" type="log4net.Appender.FileAppender">
  <threshold value="Fatal" />
    <file value="Logging/Logs/Fatal.log" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d{hh:mm:ss} %message%newline" />
    </layout>
</appender>
<appender name="DebugFile" type="log4net.Appender.FileAppender">
  <threshold value="Debug" />
    <file value="Logging/Logs/Debug.log" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d{hh:mm:ss} %message%newline" />
    </layout>
</appender>
<root>
  <appender-ref ref="InfoFile" />
  <appender-ref ref="ErrorFile" />
  <appender-ref ref="FatalFile" />
  <appender-ref ref="DebugFile" />
</root>
</log4net>